# miscellaneous files
src/aux
src/data
src/vae
src/__pycache__
src/.ipynb_checkpoints
src/output
src/results
src/logs

# ignore everything in src/models
src/models/*
# but not anything ending in .stan
!src/models/*.stan
